# Ignorar arquivos específicos
.DS_Store

# Use curingas como
*~
*.swp

# Ignorar todos os diretórios e arquivos em um diretório.
tmp
log

# Ignorar Arquivos de DB
db/*.sqlite
db/*.sqlite2
db/*.sqlite3
db/*.db
