

<style>

body {font:12px/17px Arial, Helvetica, sans-serif; color:#333; background:#ccc; padding:40px 20px 20px 20px;}


.tabFrame {

	width:101%;
	height:900px;
	border:0px;
	scrolling:no;
	frameborder:0;
	allowTransparency:true;
	overflow: hidden;
}

</style>