/* =======================================

		Main Stylesheet for My-Bootstrap-Site
		
		Innovations on Twitter Bootstrap
		
========================================== */

@import url('bootstrap.css');
@import url('bootstrap-responsive.css');

/*	Navbar Adjustments
		============================================= */

		/* Top Padding for responsive navbar-top-fixed */
				body { /* Add top padding for full-width layout */
					padding-top: 60px;
					padding-bottom: 10px;
          font-family: verdana, arial, helvetica, sans-serif;
				}
				@media (max-width: 979px) {
				  body { /* Remove top padding when top navbar goes static */
				    padding-top: 0;
				  }
				}

			/* For static full-width navbar 
					(If needed) */
			/* 
				.navbar-inner {
					  -webkit-border-radius: 0;
					  -moz-border-radius: 0;
					  border-radius: 0;
				}
			*/

/* 	Rows and Columns
		============================================ */
		.row { /* more top and bottom padding on rows */
			padding: 20px 0;
		}
	
/* 	Pills and Tabs
		============================================ */
		.nav-pills li a h3 {
			font-size: 14px;
			line-height: 16px;
		}
		.nav-pills li.active a h3 {
			font-size: 14px;
			color: white;
		}


/* 	For Code Snippets
		============================================ */
		
		code, pre, pre.prettyprint {
			background-color: #fee9cc;
		}
		pre, pre.prettyprint {
			padding: 16px 20px;
			margin: 10px 0;
			-webkit-border-radius: 6px;	
			-moz-border-radius: 6px;
			border-radius: 6px;
		}
		
		.alert pre {
			text-shadow: none;
		}
		
		/* Pretty printing styles. Used with prettify.js. */
		
		/* SPAN elements with the classes below are added by prettyprint. */
		.pln { color: #000 }  /* plain text */
		
		@media screen {
		  .str { color: #080 }  /* string content */
		  .kwd { color: #008 }  /* a keyword */
		  .com { color: #800 }  /* a comment */
		  .typ { color: #606 }  /* a type name */
		  .lit { color: #066 }  /* a literal value */
		  /* punctuation, lisp open bracket, lisp close bracket */
		  .pun, .opn, .clo { color: #660 }
		  .tag { color: #008 }  /* a markup tag name */
		  .atn { color: #606 }  /* a markup attribute name */
		  .atv { color: #080 }  /* a markup attribute value */
		  .dec, .var { color: #606 }  /* a declaration; a variable name */
		  .fun { color: red }  /* a function name */
		}
		
		/* Use higher contrast and text-weight for printable form. */
		@media print, projection {
		  .str { color: #060 }
		  .kwd { color: #006; font-weight: bold }
		  .com { color: #600; font-style: italic }
		  .typ { color: #404; font-weight: bold }
		  .lit { color: #044 }
		  .pun, .opn, .clo { color: #440 }
		  .tag { color: #006; font-weight: bold }
		  .atn { color: #404 }
		  .atv { color: #060 }
		}

		pre.prettyprint { /* customized by DC */
			/* padding: 2px;
			border: 1px solid #888  */
			}
				
		/* Specify class=linenums on a pre to get line numbering */
		ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
		li.L0,
		li.L1,
		li.L2,
		li.L3,
		li.L5,
		li.L6,
		li.L7,
		li.L8 { list-style-type: none }
		/* Alternate shading for lines */
		li.L1,
		li.L3,
		li.L5,
		li.L7,
		li.L9 { background: #eee }
		
		

		/*For the Control Panel*/
		
		
body, html {
 
  font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
 
}

.tab-content {
  display: table;
  /* background-color: #a3a3a3;*/
  width: 100%;
}


/************************************** HEADER ************************************/
header {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  color: #ffffff;
  font-size: 12px;
  font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-top: 1px solid #111010;
  line-height: 38px;
}

header.header {
  height: 40px;
  line-height: 38px;

  /* Have to do this because z-index is stupid instead
     have an inset shadow on #main > .center*/
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

header .divider {
  display: inline-block;
  width: 1px;
  height: 20px;
  vertical-align: middle;
  margin: 0px 10px 0px 10px;
  border-left: 1px solid #2c2b29;
  background-color: #454442;
}

header a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  vertical-align: middle;
}

header a:hover {
  color: rgba(255, 255, 255, 1.0);
}

/********************************** HEADER LEFT **********************************/
header .jetstrap-header-icon {
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('https://s3.amazonaws.com/jetstrap-site/images/common/jetstrap_header_icon.png') no-repeat transparent;
  background-size: 25px 25px;
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5),
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
  header .jetstrap-header-icon {
    background: url('https://s3.amazonaws.com/jetstrap-site/images/common/jetstrap_header_icon2x.png') no-repeat transparent;
    background-size: 25px 25px;
  }
}

/************************************ FOLDERS ************************************/
.folders-wrapper {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

#folders {
  max-width: 1140px;
  min-width: 320px;
  width: 1140px;
  margin: 10px auto 0px auto;
}

#folders > .plan-info.alert {
  padding: 8px 30px;
  margin: 0px;
  width: 100%;
  background-color: rgba(255,255,255,0.12);
  font-family: 'ProximaNova-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: none;
  color: #fff;
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
}

#folders > .plan-info.alert {
  text-decoration: none;
}

#folders > .plan-info.alert b {
  color: #fff;
  font-weight: bold;
  font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#folders > ul {
  margin: 0px 0px 120px 0px;
  padding-bottom: 110px; /* Extra padding for dropdown menu */
}

#folders .folder {
  position: relative;
  float: left;
  display: block;
  list-style: none;
  width: 320px;
  height: 240px;
  min-width: 250px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  margin: 10px;

  transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}

#folders .folder:hover {
  background-color: rgba(255,255, 255, 0.55);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
}

#folders .folder.new {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

#folders .folder.new:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#folders .folder > a {
  height: 200px;
  width: 100%;
  line-height: 200px;
  display: inline-block;
  background: url('https://s3.amazonaws.com/jetstrap-site/images/dashboard/folder_jetstrap_icon.png') no-repeat 50% 50% transparent;
}

#folders .folder > a > h3 {
  font-family: 'ProximaNova-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #333;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
  word-wrap: break-word;
}

#folders .folder.new > a {
  height: 240px;
  background: url('https://s3.amazonaws.com/jetstrap-site/images/dashboard/folder_plus_icon.png') no-repeat 50% 50% transparent;
}

#folders .folder .bottom {
  font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #32302f;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  border-top: 1px solid #EEE;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  height: 40px;
  line-height: 40px;
  padding: 0px 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}

#wysi-tools .btn {
  padding: 2px 11px;
}

#folders .folder:hover .bottom {
  background-color: rgba(255, 255, 255, 0.55);
}

#folders .bottom > * {
  line-height: 40px;
  vertical-align: middle;

  transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}

#folders .folder .bottom .left {
  opacity: 1.0;
}

#folders .folder .dropdown-menu {
  margin-right: -16px;
}

#folders .folder .dropdown-menu .dropdown-caret {
  margin-right: 14px;
}

#folders .btn-group.open .dropdown-toggle:active {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#folders .dropdown-toggle .j-icon {
  vertical-align: middle;
  margin-right: -6px;
  opacity: 0.7;

  transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}

#folders .folder:hover .dropdown-toggle .j-icon {
  opacity: 1.0;
}

/** Side bars **/
#left-sidebar, #right-sidebar {
  position: fixed;
  top: 40px;
  z-index: 10;
}

#left-sidebar {
  left: 0;
}

#right-sidebar {
  right: 0;
}







/**FORMS CSS**/


/*Defaults Styling*/
fieldset {background:#f2f2e6; padding:10px; border:1px solid #fff; border-color:#fff #666661 #666661 #fff; margin-bottom:36px; width:600px;}
input, textarea, select {font:12px/12px Arial, Helvetica, sans-serif; padding:0;}
fieldset.action {background:#9da2a6; border-color:#e5e5e5 #797c80 #797c80 #e5e5e5; margin-top:-20px;}
legend {background:#bfbf30; color:#fff; font:17px/21px Calibri, Arial, Helvetica, sans-serif; padding:0 10px; margin:-26px 0 0 -11px; font-weight:bold; border:1px solid #fff; border-color:#e5e5c3 #505014 #505014 #e5e5c3;}
label {font-size:11px; font-weight:bold; color:#666;}
label.opt {font-weight:normal;}
dl {clear:both;}
dt {float:left; text-align:right; width:90px; line-height:25px; margin:0 10px 10px 0;}
dd {float:left; width:475px; line-height:25px; margin:0 0 10px 0;}
#footer {font-size:11px;}

#container {width:700px; margin:0 auto;}

/*##########################################
Script: Niceforms 2.0
Theme: StandardBlue
Author: Lucian Slatineanu
URL: http://www.emblematiq.com/
##########################################*/

/*Text inputs*/
.NFText {border:none; vertical-align:middle; font:12px/15px Arial, Helvetica, sans-serif; background:none;}
.NFTextCenter {height:15px; background:url(img/input.png) repeat-x 0 0; padding:3px 0; margin:0; float:left; line-height:15px;}
.NFTextLeft, .NFTextRight {width:7px; height:21px; vertical-align:middle; float:left;}
.NFTextLeft {background:url(img/input-left.png) no-repeat 0 0;}
.NFTextRight {background:url(img/input-right.png) no-repeat 0 0;}
/*Radio*/
.NFRadio {cursor:pointer; position:absolute; display:block; width:13px; height:13px; border:1px solid transparent; background:url(img/radio.png) no-repeat 0 0; z-index:2;}
/*Checkbox*/
.NFCheck {cursor:pointer; position:absolute; width:12px; height:12px; border:1px solid transparent; background:url(img/checkbox.png) no-repeat 0 0; z-index:2;}
/*Buttons*/
.NFButton {width:auto; height:26px; color:#fff; padding:0 2px; background:url(img/button.png) repeat-x 0 0; cursor:pointer; border:none; font:10px/26px Tahoma, Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase; letter-spacing:1px; vertical-align:middle;}
.NFButtonLeft, .NFButtonRight {width:6px; height:26px; vertical-align:middle;}
.NFButtonLeft {background:url(img/button-left.png) no-repeat 0 0;}
.NFButtonRight {background:url(img/button-right.png) no-repeat 0 0;}
/*Textareas*/
.NFTextarea {border:none; background:none; font:12px/12px Arial, Helvetica, sans-serif; margin:0;}
.NFTextareaTop, .NFTextareaBottom {height:5px; clear:both; float:none; padding-right:10px;}
.NFTextareaTop {background:url(img/textarea-tr.png) no-repeat 100% 0;}
.NFTextareaBottom {background:url(img/textarea-br.png) no-repeat 100% 0; margin-bottom:5px;}
.NFTextareaTopLeft, .NFTextareaBottomLeft {width:5px; height:5px;}
.NFTextareaTopLeft {background:#f2f2e6 url(img/textarea-tl.png) no-repeat 0 0;}
.NFTextareaBottomLeft {background:#f2f2e6 url(img/textarea-bl.png) no-repeat 0 0;}
.NFTextareaLeft, .NFTextareaRight, .NFTextareaLeftH, .NFTextareaRightH {float:left; padding-bottom:5px;}
.NFTextareaLeft, .NFTextareaLeftH {width:5px;}
.NFTextareaLeft {background:url(img/textarea-l-off.png) repeat-y 0 0;}
.NFTextareaLeftH {background:url(img/textarea-l-over.png) repeat-y 0 0;}
.NFTextareaRight, .NFTextareaRightH {padding-right:5px; padding-bottom:0;}
.NFTextareaRight {background:url(img/textarea-r-off.png) repeat-y 100% 0;}
.NFTextareaRightH {background:url(img/textarea-r-over.png) repeat-y 100% 100%;}
/*Files*/
.NFFileButton {padding-bottom:0; vertical-align:bottom; cursor:pointer; background:url(img/file.png) no-repeat 0 0; width:60px; height:21px;}
.NFFile {position:relative; margin-bottom:5px;}
.NFFile input.NFhidden {position:relative; filter:alpha(opacity=0); opacity:0; z-index:2; cursor:pointer; text-align:left;}
.NFFileNew {position:absolute; top:0px; left:0px; z-index:1;}
/*Selects*/
.NFSelect {height:21px; position:absolute; border:1px solid transparent;}
.NFSelectLeft {float:left; width:3px; height:21px; background:url(img/select-left.png) no-repeat 0 0; vertical-align:middle;}
.NFSelectRight {height:21px; width:auto; background:url(img/select-right.png) no-repeat 100% 0; cursor:pointer; font:12px/21px Arial, Helvetica, sans-serif; color:#fff; padding-left:3px; margin-left:3px;}
.NFSelectTarget {position:absolute; background:none; margin-left:-13px; margin-top:18px; z-index:3; left:0; top:0; padding-bottom:13px;}
.NFSelectOptions {position:relative; background:#707175; margin-left:16px; margin-top:0; list-style:none; padding:4px 0; color:#fff; font:11px/13px Arial, Helvetica, sans-serif; z-index:4; max-height:200px; overflow-y:auto; overflow-x:hidden; left:0; top:0;}
.NFSelectOptions li {padding-bottom:1px;}
.NFSelectOptions a {display:block; text-decoration:none; color:#fff; padding:2px 3px; background:none;}
.NFSelectOptions a.NFOptionActive {background:#464646;}
.NFSelectOptions a:hover {background:#333;}
/*Multiple Selects*/
.NFMultiSelect {border:0; background:none; margin:0;}
.NFMultiSelectTop, .NFMultiSelectBottom {height:5px; clear:both; float:none; padding-right:10px;}
.NFMultiSelectTop {background:url(img/textarea-tr.png) no-repeat 100% 0;}
.NFMultiSelectBottom {background:url(img/textarea-br.png) no-repeat 100% 0; margin-bottom:5px;}
.NFMultiSelectTopLeft, .NFMultiSelectBottomLeft {width:5px; height:5px;}
.NFMultiSelectTopLeft {background:#f2f2e6 url(img/textarea-tl.png) no-repeat 0 0;}
.NFMultiSelectBottomLeft {background:#f2f2e6 url(img/textarea-bl.png) no-repeat 0 0;}
.NFMultiSelectLeft, .NFMultiSelectRight, .NFMultiSelectLeftH, .NFMultiSelectRightH {float:left; padding-bottom:5px;}
.NFMultiSelectLeft, .NFMultiSelectLeftH {width:5px;}
.NFMultiSelectLeft {background:url(img/textarea-l-off.png) repeat-y 0 0;}
.NFMultiSelectLeftH {background:url(img/textarea-l-over.png) repeat-y 0 0;}
.NFMultiSelectRight, .NFMultiSelectRightH {padding-right:5px; padding-bottom:0;}
.NFMultiSelectRight {background:url(img/textarea-r-off.png) repeat-y 100% 0;}
.NFMultiSelectRightH {background:url(img/textarea-r-over.png) repeat-y 100% 0;}

/*Focused*/
.NFfocused {border:1px dotted #666;}
/*Hovered*/
.NFh {background-position:0 100%;}
.NFhr {background-position:100% 100%;}
/*Hidden*/
.NFhidden {opacity:0; z-index:-1; position:relative;}
/*Safari*/
select, input, textarea, button {outline:none; resize:none;}