<!--Not Logged user home screen-->

<link href="css/style.css" rel="stylesheet">

<div class="note-tabs"> <!-- Homepage Tabs-->

	<ul class="nav nav-tabs">
		<li class="active"><a href="#navbar-fixed-Start" data-toggle="tab"><strong>Comece Aqui</strong></a></li>
		<li><a href="#navbar-fixed-Organize" data-toggle="tab"><strong>Organize seus projetos</strong></a></li>
		<li><a href="#navbar-fixed-Tags" data-toggle="tab"><strong>Crie Etiquetas</strong></a></li>
		<li><a href="#navbar-fixed-Consolidate" data-toggle="tab"><strong>Consolide Sua Avaliação</strong></a></li>
	</ul>

	

	<div class="tab-content">

		<!-- Tab 1 - Comece Aqui -->

		<div class="tab-pane active" id="navbar-fixed-Start">
			<iframe class = "tabFrame" src="StartScreen.html"></iframe>
		</div><!-- #navbar-fixed-html -->
		

		<!-- Tab 2 - Meus Projetos -->
		
		<div class="tab-pane" id="navbar-fixed-Organize">
			<iframe class = "tabFrame" src="OrganizeScreen.html"></iframe>
	    </div><!-- /#navbar-fixed-css -->


		<!-- Tab 3 - Etiquetagem -->

		<div class="tab-pane" id="navbar-fixed-Tags">
			<iframe class = "tabFrame"  src="TagScreen.html"></iframe>
	    </div>


		<!-- Tab 4 - Consolidação -->


		<div class="tab-pane" id="navbar-fixed-Consolidate">
			<iframe class = "tabFrame"  src="ConsolidateScreen.html"></iframe>
		</div><!-- /#navbar-fixed-css -->

	</div><!-- .tab-content -->

</div><!-- /.note-tabs -->


	