<div class="container-fluid">
	<div class="hero-unit">					
		<p>Já pensou em uma ferramenta linda feita com amor e carinho para auxiliar na etapa de etiquetagem do método de avaliação de comunicabilidade (MAC).</p>
		<p>Coheça a Tag-It!</p>
		<div class="video-container">
			<iframe width="640" height="360" src="http://www.youtube.com/embed/lP0D5u3EMfA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>