
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9">
			<div class="hero-unit">
				<p>Já pensou em uma ferramenta linda feita com amor e carinho para auxiliar na etapa de etiquetagem do método de avaliação de comunicabilidade (MAC).</p>
				<p>Coheça a Tag-It!</p>
				<div class="video-container">
					<iframe width="640" height="360" src="http://www.youtube.com/embed/lP0D5u3EMfA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
				</div>
			</div> 
		</div>
		<div class="span3">
			<section id="register">
				<h2>Registrar</h2>
				<form class="form">
				  <div class="control-group">
				    <label class="control-label" for="name">Nome</label>
				    <div class="controls">
				      <input type="text" id="name" placeholder="Nome">
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputEmail">Email</label>
				    <div class="controls">
				      <input type="text" id="inputEmail" placeholder="Email">
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputConfirmEmail">Confirmar Email</label>
				    <div class="controls">
				      <input type="text" id="inputConfirmEmail" placeholder="Confirmar Email">
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputPassword">Password</label>
				    <div class="controls">
				      <input type="password" id="inputPassword" placeholder="Password">
				    </div>
				  </div>
				  <div class="control-group">
				    <div class="controls">
				      <label class="checkbox">
				        <input type="checkbox"><a>Eu li e concordo com os termos de uso!</a>
				      </label>
				      <button type="submit" class="btn btn-success">Cadastre-se</button>
				    </div>
				  </div>
				</form>
			</section>
		</div>
	</div>
</div>