

<link href="css/style.css" rel="stylesheet">

<script language="Javascript">
			   
				 function seekTime()
				{
	    		var mediaElement = document.getElementById('videoteste');
	    		alert(mediaElement); // Seek to 122 seconds
				mediaElement.seekable.start();  // Returns the starting time (in seconds)
				mediaElement.currentTime = 12; // Seek to 122 seconds
				mediaElement.seekable.end();    // Returns the ending time (in seconds)
				}

				mediaElement.played.end();      // Returns the number of seconds the browser has played
				-->



</script>





<div class="note-tabs"> <!-- Homepage Tabs-->

	<ul class="nav nav-tabs">
		<li class="active"><a href="#navbar-fixed-Start" data-toggle="tab"><strong>Comece Aqui -&gt;</strong></a></li>
		<li><a href="#navbar-fixed-Organize" data-toggle="tab"><strong>Organize seus projetos -&gt;</strong></a></li>
		<li><a href="#navbar-fixed-Tags" data-toggle="tab"><strong>Crie Etiquetas -&gt;</strong></a></li>
		<li><a href="#navbar-fixed-Consolidate" data-toggle="tab"><strong>Consolide Sua Avaliação -&gt;</strong></a></li>
	</ul>

	

	<!-- Tab 1 - Comece Aqui -->

	<div class="tab-content">
		<div class="tab-pane active" id="navbar-fixed-Start">
		<p>Já pensou em uma ferramenta linda feita com amor e carinho para auxiliar na etapa de etiquetagem do método de avaliação de comunicabilidade (MAC).</p>
		<p>Coheça a Tag-It!</p>
		<div>
			<p>.webm</p>

			<img src="\assets\tags.png" syle="width:80%">

		   	<video poster="http://www.html5rocks.com/en/tutorials/video/basics/star.png" controls>
			        <source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
			</video>			
		</div>
		</div><!-- #navbar-fixed-html -->
		



	<!-- Tab 2 - Meus Projetos -->
	
	<div class="tab-pane" id="navbar-fixed-Organize">
			

	<div >
	    <div class="folders-wrapper">
	        <div id="folders" style="">
	          
	        <!--
	          <a href="/plans" class="plan-info alert">
	            Message
	          </a>
			-->

	          <ul class="clearfix">
	            <li class="folder new">
	              <a href="#" data-action="new-folder"></a>
	            </li>
	            
	            <li class="folder" data-folderid="13a0b88d7c">
	            <a href="#" data-action="open-folder">
	                <h3 class="folder-name">Tag-It</h3>
	              </a>
	              <div class="bottom clearfix proxima-thin">
	                <div class="left">
	                  Project Description
	                </div>
	                <div class="btn-group dropdown pull-right">
	                  <a class="btn-link dropdown-toggle" data-toggle="dropdown" href="#">
	                    <div class="j-icon j-icon-gear-black"></div>
	                  </a>
	                  <ul class="dropdown-menu pull-right">
	                    <div class="dropdown-caret"></div>
	                    <li class="default rename"><a data-action="rename-folder" href="#"><div class="j-icon j-icon-rename"></div>Rename</a></li>
	                    <li class="default download"><a target="_blank" href="/api/v1/folder/13a0b88d7c/htmlzip"><div class="j-icon j-icon-download"></div>Export Project</a></li>
	                    <li class="divider"></li>
	                    <li class="default errors delete"><a data-action="delete-folder" href="#"><div class="j-icon j-icon-delete"></div>Delete</a></li>
	                  </ul>
	                </div>
	              </div>
	            </li>
	            
	          </ul>
	        </div>
	    </div>
	</div>


    
	</div><!-- /#navbar-fixed-css -->


	<!-- Tab 3 - Etiquetagem -->


		<div class="tab-pane" id="navbar-fixed-Tags">


			<iframe style = "width:100%; height:100%; border:0px"src="TagScreen.html"></iframe>



			Tags


			<!DOCTYPE html>
		
			        <style>
				      video {
				        width: 200px;
				        height: 112px;
				        border: 1px solid black;
				      }
				      
				      .video-container {
				        display: inline-block;
				        text-align: center;
				      }
				      
				      p {
				        font: 14px Arial;
				      }
				    </style>
			    <div class="video-container">
			      


			      <p>Meu projeto etiquetado .mp4</p>
			      <video  id= "videoteste" poster="http://www.html5rocks.com/en/tutorials/video/basics/star.png" controls>
			        <source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
			      </video>

					<input TYPE="BUTTON" NAME="submit" value="Enviar" onclick="seekTime()" > 
			    </div>



			    <!-- 
			    <div class="video-container">
			      <p>.webm</p>
			      <video poster="http://www.html5rocks.com/en/tutorials/video/basics/star.png" controls>
			        <source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type='video/webm; codecs="vp8, vorbis"' />
			      </video>
			    </div>
			    <div class="video-container">
			      <p>.ogv</p>
			      <video poster="http://www.html5rocks.com/en/tutorials/video/basics/star.png" controls>
			        <source src="http://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.ogv" type='video/ogg; codecs="theora, vorbis"' />
			      </video>
			    </div> -->


		</div><!-- /#navbar-fixed-css -->



	<!-- Tab 4 - Consolidação -->


		<div class="tab-pane" id="navbar-fixed-Consolidate">
			Consolide
		</div><!-- /#navbar-fixed-css -->


	</div><!-- .tab-content -->

</div><!-- /.note-tabs -->


	


<!-- ==============================================
		 JavaScript below! 															-->

  	<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

<!-- Bootstrap JS: compiled and minified -->
    <script src="js/bootstrap.min.js"></script>
